<form>
    {{{ firstNameInput }}}
    {{{ secondNameInput }}}
    {{{ loginInput }}}
    {{{ emailInput }}}
    {{{ phoneInput }}}
    {{{ passwordInput }}}
    {{{ passwordRepeatInput }}}
    {{{ enterButton }}}
</form>