<form>
    {{{ firstNameInput }}}
    {{{ secondNameInput }}}
    {{{ displayNameInput }}}
    {{{ loginInput }}}
    {{{ emailInput }}}
    {{{ phoneInput }}}
    {{{ avatarInput }}}
    {{{ oldPasswordInput }}}
    {{{ newPasswordInput }}}
    {{{ saveButton }}}
</form>